@media (min-width: 768px) {

    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        width: auto;
    }

    nav a {
        padding: 0.5rem 1rem;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}